<!doctype html>

<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.bokeh.org/bokeh/release/bokeh-1.4.0.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-1.4.0.min.css"/>
    <link href="https://cdn.bokeh.org/bokeh/release/bokeh-1.4.0.min.css" rel="stylesheet" type="text/css">
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-1.4.0.min.js"></script>
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.4.0.min.js"></script>
  <meta charset="utf-8">
  <title>Embedding a Bokeh Server With {{ framework }}</title>
</head>

<body>
  <div>
  {{ div | safe }}
  {{ script|safe }}
  </div>
  <h4>
    Input a stock and the month/year of interest
  </h4>

  <form id='userinfoform' method='POST' action='stock_index' >
    <p>
  Ticker Symbol: <input type='text' name='stockindex' value = '{{ stockval }}' />
    </p>
    <p>
  Month/Year (xx/xxxx) <input type='text' name='date' value = '{{ dateval }}' />
    </p>
    <p>
  <input type='submit' value='Submit' />
    </p>
  </form>
</body>
</html>